
body{
    background-color: #DCDCDC;

}

    .wrapper{
        width: 10000px;
        background-color:#fff;
        margin: 30px auto;
        text-align: center;
    }

    img{
        max-width: 100%;
    }